<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opdater Film</title>
</head>
<body>
<h1>Opdater film</h1>
<form action="/film/<%= film._id %>/update" method="POST">
    <label>Titel: <input type="text" name="title" value="<%= film.title %>"></label><br>
    <label>Instruktør: <input type="text" name="director" value="<%= film.director %>"></label><br>
    <label>År: <input type="number" name="year" value="<%= film.year %>"></label><br>
    <label>Genre: <input type="text" name="genre" value="<%= film.genre %>"></label><br>
    <!-- Update button -->
    <button type="submit">Opdater film</button>
</form>
<a href="/">Tilbage til listen</a>
</body>
</html>
